<!DOCTYPE HTML>
<html>
	<head>
		{% load staticfiles %}
		<meta charset="utf-8">
		<title>Biotech Protein Simulation</title>	
		<link rel="stylesheet" href="{% static 'css/design.css' %}">
		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-54471058-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	
	<body>
		<div id = "container">
			<header>
				<a href = '/welcome/'><h1>peptide simulation</h1></a>
				<img src = "{{ STATIC_URL }}images/icons.jpg" width = '779' height = '79'>

			</header><!-- end of header -->


			{% block userform %}
			{% endblock userform %}

		</div><!-- end of container -->
		<footer>
			<div id = "copyright">
				<p>Created in HTML5</p>
			</div>
		</footer>
	</body>
</html>