@charset "UTF-8";
/* CSS Document */

body {
	border:0px solid red;	
	margin:0;
	padding:0;
	background-color: #50bee7;
}

#topline {
	width:100%;
	height:10px;
	background-color: #f84c74;
}

#navbar {
	width: 100%;
	height: 80px;
	background-color: #50bee7;
	font-family:'Lobster', arial, serif;
	font-size:36px;
	font-weight:normal;
	color: white;
}

#navbarcenter{
	width:900px;
	height:50px;
	margin:0 auto 0 auto;
	border:0px solid white;
	padding-top: 20px;
}

#imagebar {
	width:100%;
	height:80px;
	background-color:white;
	border:0px solid red;
}

#imagebarcenter {
	width:900px;
	height:80px;
	margin: 0 auto 0 auto;
	background-image:url(icons.jpg);
	background-repeat: no-repeat;
}

#maincontent {
	width:100%;
	height:500px;
	background-color: #50bee7;
}

#maincontentcenter {
	width:900px;
	height:500px;
	margin:0 auto 0 auto;
	border: 0px solid red;
}

#userform {
	width:400px;
	height:400px;
	float:left;
	border: 0px solid red;
}

#moreinfo {
	float:left;
	width:330px;
	height:400px;
	border: 0px solid red;
	margin-left:40px;
}

#userformheading {
	color: #186b8a;
	font-family: 'Lobster', arial, serif;
	font-size:18px;
	font-weight:normal;
	border-bottom: 3px double #186b8a;
	height:25px;
	padding-top:20px;
	margin-bottom:20px;
}

.textheadings {
	width: 400px;
	height: 20px;
	border:0px solid red;
	font-family: Helvetica,Arial,  sans-serif;
	font-size: 14px;
	color: white;
	margin-top:20px;
}


.label {
	float:left;
	height: 20px;
	width: 190px;
	border: 0px solid white;
	padding-left:3px;
	size:14px;
	font-family: Helvetica,Arial,  sans-serif;	
}

.textinputs {
	width: 400px;
	height: 30px;
	border:0px solid red;
	font-family: Helvetica,Arial,  sans-serif;
	font-size: 14px;
	color: white;
}

.textboxes {
	float:left;
	height: 30px;
	width: 190px;
	border: 0px solid white;
}

.boxstyle {
	border:0px solid red;
	height: 25px;
	font-size:12px;
	color: #186b8a;
	color: #555555;
}

.labelstyle {
	height: 20px;
	border:1px solid #186b8a;
	color: #186b8a;
	color: #464646;
	font-size:12px;
}

#messagebox {
	width: 390px;
	height: 140px;
	border:0px solid white;
}

.seqstyle {
	font-size:14px;
	color: #464646;
	border: 1px solid #186b8a;
	font-family: Helvetica,Arial,  sans-serif;
}

#buttonstyle {
	width: 300px;
	height: 30px;
	margin-top:10px;
	margin-left:2px;
}

#infoheading {
	height: 30px;
	width: 300px;
	font-family:'Yanone Kaffeesatz', arial, serif;
	font-size: 30px;
	color:white;
	font-weight: normal;
	text-transform: uppercase;
	font-weight:bold;
	margin-bottom:10px;
}

#infoheading2 {
	height: 30px;
	width: 350px;
	font-family:'Yanone Kaffeesatz', arial, serif;
	font-size: 30px;
	color:white;
	font-weight: normal;
	text-transform: uppercase;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:30px;	
}

.enzymerules {
	font-family: Helvetica, Arial, sans-serif;	
	color:white;
	font-size: 14px;
	line-height: 21px;
	margin-bottom:10px;
}

.sampleseq {
	font-family: Helvetica, Arial, sans-serif;	
	color:white;
	font-size: 14px;
	line-height: 21px;
	margin-bottom:10px;
}

#rowheading {
	width:850px;
	font-family:'Yanone Kaffeesatz', arial, serif;
	font-weight:bold;
	font-size:30px;
	color:white;
	margin-bottom:5px;
	border:0px solid red;
	float:left;
	text-transform:uppercase;
}

#col1heading {
	float:left;
	width:497px;
	padding-left:3px;
}

#col2heading {
	float:left;
	width:97px;
	padding-left:3px;
}

#col3heading {
	float:left;
	width:97px;
	padding-left:3px;
}

#col4heading {
	float:left;
	width:97px;
	padding-left:3px;
}

.row1 {
	float:left;
	width: 800px;
	height:25px;
	border:0px solid white;
	background-color:#8dd8f3;
	font-family: Helvetica, Arial, sans-serif;	
	color:#186b8a;
	font-size: 14px;
	line-height: 21px;
	padding-top:5px;
	padding-left:5px;
}

.row2 {
	float:left;
	width: 800px;
	height:25px;
	border:0px solid white;
	background-color:#a5e2f8;
	font-family: Helvetica, Arial, sans-serif;	
	color:#186b8a;
	font-size: 14px;
	line-height: 21px;
	padding-top:5px;
	padding-left:5px;
}

.col1 {
	float:left;
	width:490px;
	padding-right:10px;
	border:0px solid white;
}

.col2 {
	float:left;
	width:100px;
	height:20px;
}

.col3 {
	float:left;
	width:100px;
	height:20px;
}

.col4 {
	float:left;
	width:100px;
	height:20px;
	border:0px solid red;
}

.row1double {
	float:left;
	width: 800px;
	height:50px;
	border:0px solid white;
	background-color:#8dd8f3;
	font-family: Helvetica, Arial, sans-serif;	
	color:#186b8a;
	font-size: 14px;
	line-height: 21px;
	padding-top:5px;
	padding-left:5px;
}

.row2double {
	float:left;
	width: 800px;
	height:50px;
	border:0px solid white;
	background-color:#a5e2f8;
	font-family: Helvetica, Arial, sans-serif;	
	color:#186b8a;
	font-size: 14px;
	line-height: 21px;
	padding-top:5px;
	padding-left:5px;
}


.col1double {
	float:left;
	width:500px;
	border:0px solid white;
}

.scenarioheading {
	color: #186b8a;
	font-family: 'Lobster', arial, serif;
	font-size:18px;
	font-weight:normal;
	border-bottom: 3px double #186b8a;
	height:25px;
	padding-top:20px;
	margin-bottom:20px;
	width:800px;
	float:left;
}


.scenarioinfo {
	width:900px;
	font-family: Helvetica,Arial,  sans-serif;
	font-size:14px;
	color:white;
	line-height:21px;
	float:left;
	border-bottom: 0px solid #86d5f2;
	margin-bottom:5px;
}

.scenariofield {
	width:150px;
	border:0px solid white;
	float:left;
	font-family:  Helvetica,Arial, sans-serif;
	font-size: 14px;
	color:white;
	font-weight: bold;
	text-transform: capitalize;
	font-style: italic;
}

.scenarioinput {
	width:700px;
	border:0px solid white;
	float:left;
}

#newsearch {
	width:200px;
	height:100px;
	float:left;
}

.inputsbutton a{
	margin-top:10px;
	width:163px;
	height:25px;
	background-image:url(inputs.png);
	float:left;
	margin-bottom:20px;
}

.inputsbutton a:hover { 
	background-position: 0px -25px;
}

#footer {
	height:100px;
	width:100%;
	float:left;
	background-color:#f84c74;
	margin-top:100px;
}